*.o
*.d
*.a
src/modules/modules.h
src/modules/*param.c
src/modules/*param.h
src/modules/*param.tex
/include/
/libddbg/include/
/libparam/include/
/diskmodel/include/

diskmodel/layout_g4_tools/g4_skews
diskmodel/modules/dm_*_param.c
diskmodel/modules/dm_*_param.h
diskmodel/modules/dm_*_param.tex
diskmodel/modules/modules.h
diskmodel/tests/layout_bogon
diskmodel/tests/layout_raw
diskmodel/tests/layout_simple
diskmodel/tests/layout_simple_0t
diskmodel/tests/layout_skew
diskmodel/tests/layout_track
diskmodel/tests/mech_seek
dixtrac/dx_layout
dixtrac/dx_mech
dixtrac/dx_rest
dixtrac/dx_seeks
dixtrac/dx_skew_curve
dixtrac/dx_skews_simple
dixtrac/dx_stat
dixtrac/dxcachectl
dixtrac/dxreplay
libparam/lex.libparam.c
libparam/libparam.tab.c
libparam/libparam.tab.h
/memsmodel/include/
memsmodel/mems_seektest
memsmodel/modules/memsmodel_*_param.c
memsmodel/modules/memsmodel_*_param.h
memsmodel/modules/memsmodel_*_param.tex
memsmodel/modules/modules.h

src/disksim
src/hplcomb
src/rms
src/syssim

valid/*.outv
valid/stamps
